@keyframes flash {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 1;
	}
	66% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

.call-hint {
	position: fixed;
	z-index: 1;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 30px);
	max-width: 400px;

	padding: 10px;
	border-radius: 10px;

	font-size: 20px;
	border: 3px solid #aaaaaa;
	background-color: #1d0c1e;
	animation: flash 1.5s;
}
