.timer {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 10px solid #e3a335;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #131516;
}
