$levelsTransition: (
	'0': '-225',
	'1': '-214',
	'2': '-190',
	'3': '-166',
	'4': '-144',
	'5': '-124',
	'6': '-102',
	'7': '-80',
	'8': '-58',
	'9': '-36',
	'10': '-14',
	'11': '-14',
	'12': '-14',
	'13': '-14',
	'14': '-14',
);

.level-list {
	width: 100%;
	max-width: 400px;
	overflow: hidden;
	margin: 0;
	list-style-type: none;
	padding: 24px;
	color: #e3a335;
	background-color: #1d0c1e;
	font-weight: 500;
	font-size: 18px;
	border: #e3a335 solid 3px;
	border-radius: 20px;
	transition: 0.3s;

	@media (max-width: 768px) {
		height: 150px;

		@each $idx, $size in $levelsTransition {
			&[data-state='#{$idx}'] .level-item {
				transform: translateY(#{$size}px);
			}
		}
	}
}

.level-item {
	border-radius: 10px;
}

.level-item > div {
	display: inline-block;
}

.level-number {
	text-align: right;
	width: 20%;
	margin-right: 20px;
}

.level-cost {
	width: 60%;
	text-align: left;
}

.level-item.safety {
	color: white;
}

.level-item.current {
	background: linear-gradient(#f0cb54, #e3a335);
}

.level-item.current > .level-number {
	color: white;
}

.level-item.current > .level-cost {
	color: black;
}
